.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    padding: 0 15px;
    border-radius: 3px;
    cursor: pointer;

    &--dark {
        background-color: $gray-dark;
    }

     &--orange {
        background-color: $orange;
    }
}