.filter {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid $border-color;
    margin: 20px 0 85px;

    @media screen and (max-width: 1024px) {
        margin: 10px 0 40px;
    }

    @media screen and (max-width: 800px) {
       flex-direction: column;
    }

    &__title {
        width: 17%;
        font-size: 1.125em;
        font-weight: 700;
        margin-right: 25px;

        @media screen and (max-width: 1024px) {
            font-size: 1em;
            margin-right: 15px;
        }

        @media screen and (max-width: 800px) {
            width: 100%;
            margin-bottom: 15px;
        }
    }

    &__wrapper {
        display: flex;
        width: 83%;
        align-items: center;

        @media screen and (max-width: 800px) {
            width: 100%;
        }

        @media screen and (max-width: 420px) and (orientation: portrait) {
            flex-direction: column;
        }
    }

    &__list {
        display: flex;

        @media screen and (max-width: 420px) and (orientation: portrait) {
            flex-wrap: wrap;
            flex-direction: row;
        }

        &__item {
            width: 143px;
            color: $gray;

            &:not(:last-child) {
                margin-right: 10px;
            }

            @media screen and (max-width: 1024px) {
                width: auto;

                &:not(:last-child) {
                    margin-right: 25px;
                }
            }

            @media screen and (max-width: 420px) and (orientation: portrait) {
                width: 50%;
                margin-bottom:20px;

                &:not(:last-child) {
                    margin-right: 0;
                }
            }
        }
    }

    &__button {
        margin-left: auto;
    }
}