.product-list {
    display: flex;
    width: 100%;
    overflow: hidden;

    &__item {
        flex: 1 0 25%;
        border: 1px solid white;
        padding: 30px 50px;
        transition: all .3s ease-in-out;
        box-sizing: border-box;

        @media screen and (max-width: 1280px) {
            padding: 20px 30px;
        }

        @media screen and (max-width: 800px) {
            flex: 1 0 33%;
            padding: 15px;
        }

        @media screen and (max-width: 420px) {
            flex: 1 0 50%;
            padding: 10px 15px;
        }

        .product__actions {
            transition: .5s ease-in-out;

            .button {
                opacity: 0;
                transition: .5s ease-in-out;
            }
        }

        &:hover {
            border: 1px solid $border-color;

            .customize-button,
            .product__infos {
                transform: translateY(-20px);
            }

            .product__actions {
                transform: translateY(-20px);

                .button {
                    opacity: 1;
                }
            }
        }

    }
}