.product-list {
    display: flex;
    width: 100%;

    &__item {
        width: 100%;
        border: 1px solid white;
        padding: 30px 50px;
        transition: all .3s ease-in-out;

        &:not(:last-child) {
            margin-right: 45px;
        }

        @media screen and (max-width: 1280px) {
            padding: 20px 30px;
        }

        @media screen and (max-width: 1100px) {
            &:not(:last-child) {
                margin-right: 30px;
            }
        }

        @media screen and (max-width: 800px) {
            padding: 15px;

            &:not(:last-child) {
                margin-right: 15px;
            }
        }

        @media screen and (max-width: 420px) and (orientation: portrait) {
            padding: 10px 15px;
        }

        .product__actions {
            transition: .5s ease-in-out;

            .button {
                opacity: 0;
                transition: .5s ease-in-out;
            }
        }

        &:hover {
            border: 1px solid $border-color;

            .customize-button,
            .product__infos {
                transform: translateY(-20px);
            }

            .product__actions {
                transform: translateY(-20px);

                .button {
                    opacity: 1;
                }
            }
        }

    }
}